<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userInterfaceStreams" class="ru.biderman.studenttest.dao.UserInterfaceStreamsImpl"/>

    <bean id="userInterface" class="ru.biderman.studenttest.dao.UserInterfaceImpl">
        <constructor-arg name="userInterfaceStreams" ref="userInterfaceStreams"/>
    </bean>

    <bean id="nameService" class="ru.biderman.studenttest.service.NameServiceImpl">
        <constructor-arg name="userInterface" ref="userInterface"/>
    </bean>

    <bean id="answerService" class="ru.biderman.studenttest.service.AnswerServiceImpl">
        <constructor-arg name="userInterface" ref="userInterface"/>
    </bean>

    <bean id="questionDao" class="ru.biderman.studenttest.dao.QuestionDaoImpl">
        <constructor-arg name="questionsResource" value="classpath:/questions.csv"/>
    </bean>

    <bean id="questionService" class="ru.biderman.studenttest.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="testService" class="ru.biderman.studenttest.service.TestServiceImpl">
        <constructor-arg name="nameService" ref="nameService"/>
        <constructor-arg name="questionService" ref="questionService"/>
        <constructor-arg name="answerService" ref="answerService"/>
    </bean>
</beans>