<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{authors.page-title}">Авторы</title>

    <th:object th:replace="fragments :: bootstrap-scripts"/>
</head>
<body>
    <div th:replace="fragments :: main-menu"></div>

    <div class="list-group">
        <div class="list-group-item" th:each="a : ${authors}">
            <div class="row">
                <div class="col">
                    <p th:text="|${a.otherNames} ${a.surname}|">Александр Пушкин</p>
                </div>
                <div class="col-2">
                    <a class="btn btn-warning" href="/authors/edit?id=1" th:href="@{/authors/edit(id=${a.id})}"
                       th:text="#{button.edit}">Редактировать</a>
                    <a class="btn btn-danger" href="/authors/delete?id=1"
                       th:unless="${#lists.contains(usedAuthorIdList, a.id)}"
                       th:href="@{/authors/delete(id=${a.id})}"
                       th:text="#{button.delete}">Удалить</a>
                </div>
            </div>

        </div>
    </div>
    <div class="p-2">
        <a class="btn btn-primary" href="/authors/edit?id=0" th:text="#{button.add}">Добавить</a>
    </div>
</body>
</html>