<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{books.page-title}">Книги</title>

    <th:block th:replace="fragments :: bootstrap-scripts"/>
</head>
<body>
    <div th:replace="fragments :: user-string"></div>
    <div th:replace="fragments :: main-menu"></div>

    <div class="list-group">
        <div class="list-group-item" th:each="b: ${books}">
            <div class="row">
                <div class="col">
                    <p>
                        <span th:text="${#strings.listJoin(b.authorList.![otherNames + ' ' + surname], ', ')}">Александр Пушкин</span>
                        <span th:if="${b.authorList.size() > 0}" th:text="', '"></span>
                        &quot;<span th:text="${b.title}">Евгений Онегин</span>&quot;
                    </p>
                    <small th:text="${#strings.setJoin(b.genres.![text], ', ')}">Поэзия</small>
                    <div th:if="${@availabilityForMinorsService.isAdultOnly(b)}">
                        <small style="color: red">18+</small>
                    </div>
                </div>
                <div class="col-2" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="btn btn-warning" href="/books/edit?id=1" th:href="@{/books/edit(id=${b.id})}"
                       th:text="#{button.edit}">Редактировать</a>
                    <a class="btn btn-danger" href="/books/delete?id=1" th:href="@{/books/delete(id=${b.id})}"
                       th:text="#{button.delete}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="btn btn-primary" href="/books/edit?id=0" th:text="#{button.add}">Добавить</a>
    </div>
</body>
</html>