<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{delete.page-title}">Удаление</title>

    <th:block th:replace="fragments :: bootstrap-scripts"/>
</head>
<body>
<form action="#" th:action="@{/authors/delete(id=${id})}" method="post" class="m2">
    <h4 th:text="#{delete.page-title}">Удаление</h4>
    <p th:text="#{delete-prompt.author(${stringValue})}">Вы действительно хотите удалить автора?</p>

    <div class="m-2">
        <input type="submit" class="btn btn-danger" value="Да" th:value="#{button.yes}" />
        <a href="/authors" class="btn btn-light" th:text="#{button.back}">Назад</a>
    </div>
</form>
</body>
</html>