<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<div th:fragment="main-menu">
    <nav class="navbar navbar-expand-lg ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:text="#{books.page-title}">Книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authors" th:text="#{authors.page-title}">Авторы</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="user-string" class="p-2">
    <p>
        <span th:text="#{user-string.user(${#authentication.name})}">Пользователь: Админ.</span>
        <a href="/logout" th:href="@{/logout}" th:text="#{user-string.logout}">Выйти.</a>
    </p>
</div>

<th:block th:fragment="bootstrap-scripts">
    <script src="webjars/jquery/3.0.0/jquery.min.js" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</th:block>

</body>
</html>